.wrapper {
  background-image: url(../../../assets/bg-login.jpg);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  mat-card{
    background-color: #333C83;
  }
}
