.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
}
.summary-card{
  width: 100%;
  background-color: #333C83;

}
table {
  width: 100%;
}
