<mat-drawer-container class="example-container h-100 w-100" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="d-flex justify-content-center align-items-center">
      <h2 style="margin-right: 23px;">MEAL DROP</h2>
    </div>
    <mat-list style="padding: 0; margin: 0;">
      <mat-list-item>
        <button style="text-align: start;" class="w-100" type="button" mat-button (click)="drawer.toggle()">
          <mat-icon style="margin-right: 5px;" aria-hidden="false" aria-label="Example home icon">home
          </mat-icon>Home
        </button>
      </mat-list-item>
      <mat-list-item> <button style="text-align: start;" class="w-100" type="button" mat-button
          (click)="drawer.toggle()">
          <mat-icon style="margin-right: 5px;" aria-hidden="false" aria-label="Example home icon">category
          </mat-icon>Items
        </button> </mat-list-item>
      <mat-list-item> <button style="text-align: start;" class="w-100" type="button" mat-button
          (click)="drawer.toggle()">
          <mat-icon style="margin-right: 5px;" aria-hidden="false" aria-label="Example home icon">toc
          </mat-icon>
          Orders
        </button> </mat-list-item>
    </mat-list>
  </mat-drawer>
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">legend_toggle</mat-icon>
  </button>
  <div class="example-sidenav-content">

  </div>

</mat-drawer-container>
