.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #eee;
}

.example-sidenav-content {
  height: 100%;
  color: #3A3845;
}

.example-sidenav {
  padding: 20px;
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333C83;
}
.mat-list-item-content {
  padding: 0;
  margin: 0;
}
#toggle-icon{
  color:#333C83
}
